USE [master]
GO
/****** Object:  Database [TMDT_Maladin]    Script Date: 6/6/2020 9:19:22 PM ******/
CREATE DATABASE [TMDT_Maladin]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TMDT_Maladin', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TMDT_Maladin.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TMDT_Maladin_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TMDT_Maladin_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TMDT_Maladin].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TMDT_Maladin]
GO
/****** Object:  Table [dbo].[ACC_PRODUCT]    Script Date: 6/6/2020 9:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACC_PRODUCT](
	[ID_ACC_PRODUCT] [varchar](10) NOT NULL,
	[USER_ACC] [varchar](30) NOT NULL,
	[ID_PRODUCT] [varchar](10) NOT NULL,
	[AMOUNT] [int] NOT NULL DEFAULT ((0)),
	[SALE_PERCENT] [int] NOT NULL DEFAULT ((0)),
	[SALE_MONEY] [int] NOT NULL DEFAULT ((0)),
	[DATE_START_SELL] [date] NOT NULL,
	[DATE_END_SELL] [date] NULL,
	[TOTAL_COUNT] [int] NULL DEFAULT ((0)),
	[SELL_COUNT] [int] NULL DEFAULT ((0)),
	[IS_SELL] [bit] NOT NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[ID_ACC_PRODUCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 6/6/2020 9:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[USER_ACC] [varchar](30) NOT NULL,
	[PASSWORD_ACC] [varchar](30) NOT NULL,
	[EMAIL_INFO] [nvarchar](255) NOT NULL,
	[ID_TYPE_ACC] [varchar](10) NOT NULL,
	[COINT_ACC] [int] NULL DEFAULT ((0)),
	[DATE_CREATE_ACC] [date] NULL,
	[IS_ACTIVE_ACC] [bit] NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[USER_ACC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ACCOUNT_COMMENT]    Script Date: 6/6/2020 9:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACCOUNT_COMMENT](
	[USER_ACC] [varchar](30) NOT NULL,
	[ID_ACC_PRODUCT] [varchar](10) NOT NULL,
	[TITLE_COMMENT] [nvarchar](255) NULL,
	[CONTEN_COMMENT] [nvarchar](255) NOT NULL,
	[RATING_COMMENT] [int] NULL,
	[DATE_COMMENT] [date] NOT NULL,
	[IS_READ] [bit] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[USER_ACC] ASC,
	[ID_ACC_PRODUCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[APPROVED_PRODUCT_WAIT]    Script Date: 6/6/2020 9:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[APPROVED_PRODUCT_WAIT](
	[ID_APPROVED_PRODUCT_WAIT] [int] IDENTITY(1,1) NOT NULL,
	[USER_ACC] [varchar](30) NOT NULL,
	[ID_WAIT_PRODUCT] [int] NOT NULL,
	[DATE_APPROVED] [date] NOT NULL,
	[ACTION_APPROVED] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_APPROVED_PRODUCT_WAIT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[APPROVED_USER_WAIT]    Script Date: 6/6/2020 9:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[APPROVED_USER_WAIT](
	[ID_APPROVED_USER_WAIT] [int] IDENTITY(1,1) NOT NULL,
	[ID_USER_WAIT] [int] NOT NULL,
	[USER_ACC] [varchar](30) NOT NULL,
	[DATE_APPROVED] [date] NOT NULL,
	[ACTION_APPROVED] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_APPROVED_USER_WAIT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FAVORITE_PRODUCT]    Script Date: 6/6/2020 9:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FAVORITE_PRODUCT](
	[ID_ACC_PRODUCT] [varchar](10) NOT NULL,
	[USER_ACC] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_ACC] ASC,
	[ID_ACC_PRODUCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GROUP_CHAT]    Script Date: 6/6/2020 9:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUP_CHAT](
	[ID_GROUP] [int] IDENTITY(1,1) NOT NULL,
	[NAME_GR] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_GROUP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GROUP_TYPE_PRODUCT]    Script Date: 6/6/2020 9:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GROUP_TYPE_PRODUCT](
	[ID_GR_TYPE_PR] [varchar](10) NOT NULL,
	[NAME_GROUP] [nvarchar](255) NULL,
	[IS_ACTIVE] [bit] NULL,
	[NOTE_GR_TYPE] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_GR_TYPE_PR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GUEST_QUESTION]    Script Date: 6/6/2020 9:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GUEST_QUESTION](
	[ID_QUESTION] [int] IDENTITY(1,1) NOT NULL,
	[ID_ACC_PRODUCT] [varchar](10) NOT NULL,
	[TITLE_QUESTION] [nvarchar](255) NULL,
	[CONTENT_QUESTION] [nvarchar](255) NOT NULL,
	[DATE_QUESTION] [date] NULL,
	[IS_READ] [bit] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[ID_QUESTION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[INFOMATION_ACCOUNT]    Script Date: 6/6/2020 9:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[INFOMATION_ACCOUNT](
	[ID_INFO] [varchar](10) NOT NULL,
	[CMND_INFO] [varchar](12) NOT NULL,
	[NAME_INFO] [nvarchar](255) NOT NULL,
	[BIRTH_INFO] [date] NULL,
	[SEX_INFO] [bit] NULL,
	[ADRESS_INFO] [nvarchar](255) NULL,
	[PHONE_INFO] [nvarchar](255) NULL,
	[NOTE_INFO] [nvarchar](255) NULL,
	[USER_ACC] [varchar](30) NULL,
	[AVT_ACC] [varchar](255) NULL,
	[ID_TYPE_ACC] [varchar](10) NULL DEFAULT ('CT'),
PRIMARY KEY CLUSTERED 
(
	[ID_INFO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[INFOMATION_GUEST]    Script Date: 6/6/2020 9:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[INFOMATION_GUEST](
	[ID_GUEST] [int] IDENTITY(1,1) NOT NULL,
	[NAME_GUEST] [nvarchar](255) NULL,
	[PHONE_GUEST] [varchar](11) NOT NULL,
	[ADRESS_GUEST] [nvarchar](255) NOT NULL,
	[SEX_GUEST] [bit] NULL,
	[EMAIL_GUEST] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_GUEST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MEMBER_GROUP_CHAT]    Script Date: 6/6/2020 9:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MEMBER_GROUP_CHAT](
	[ID_GROUP] [int] NOT NULL,
	[USER_ACC] [varchar](30) NOT NULL,
	[DATE_INV] [date] NULL,
	[IS_ADMIN_GROUP] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_GROUP] ASC,
	[USER_ACC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MESSAGE_SEND_TO]    Script Date: 6/6/2020 9:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MESSAGE_SEND_TO](
	[ID_MESSAGE] [int] IDENTITY(1,1) NOT NULL,
	[CONTEN_MESSAGE] [nvarchar](max) NOT NULL,
	[FROM_ACC] [varchar](30) NOT NULL,
	[TO_ACC] [varchar](30) NOT NULL,
	[IS_READ] [bit] NULL DEFAULT ((0)),
	[DATA_SEND_MESSAGE] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[ID_MESSAGE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MESSAGE_SEND_TO_GR]    Script Date: 6/6/2020 9:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MESSAGE_SEND_TO_GR](
	[ID_MESS_GR] [int] IDENTITY(1,1) NOT NULL,
	[USER_ACC] [varchar](30) NOT NULL,
	[ID_GROUP] [int] NOT NULL,
	[CONTENT_MESS] [nvarchar](max) NOT NULL,
	[DATE_SEND] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MESS_GR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NOTI_ACC]    Script Date: 6/6/2020 9:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NOTI_ACC](
	[USER_ACC] [varchar](30) NOT NULL,
	[ID_NOTI] [int] NOT NULL,
	[IS_CHECK_NOTI] [bit] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[USER_ACC] ASC,
	[ID_NOTI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NOTIFICATION_]    Script Date: 6/6/2020 9:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTIFICATION_](
	[ID_NOTI] [int] NOT NULL,
	[CONTENT_NOTI] [nvarchar](255) NULL,
	[ID_TYPE_NOTI] [int] NULL DEFAULT ((0)),
	[TITLE_NOTI] [nvarchar](255) NULL,
	[DATE_NOTI] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[ID_NOTI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ODER]    Script Date: 6/6/2020 9:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ODER](
	[ID_ODER] [varchar](10) NOT NULL,
	[USER_ACC] [varchar](30) NULL,
	[ID_GUEST_NO_ACC] [int] NULL,
	[ID_ACC_PRODUCT] [varchar](10) NOT NULL,
	[STATUS_ODER] [int] NULL DEFAULT ((0)),
	[ID_TYPE_ODER] [varchar](10) NOT NULL,
	[COUNT_ODER] [int] NULL DEFAULT ((1)),
	[ID_VOCHER] [varchar](10) NULL,
	[SUM_PRICE_ODER] [float] NOT NULL,
	[DATE_COMPLATE_ODER] [date] NULL,
	[NOTE_ODER] [nvarchar](255) NULL,
	[DATE_ODER] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[ID_ODER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ORIGIN]    Script Date: 6/6/2020 9:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ORIGIN](
	[ID_ORIGIN] [varchar](10) NOT NULL,
	[NAME_ORIGIN] [nvarchar](255) NOT NULL,
	[NOTE_ORIGIN] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ORIGIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PAYMENT]    Script Date: 6/6/2020 9:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PAYMENT](
	[ID_PAYMENT] [int] IDENTITY(1,1) NOT NULL,
	[USER_ACC] [varchar](30) NOT NULL,
	[SEND_COINT] [int] NOT NULL DEFAULT ((0)),
	[RECEIVE_COINT] [int] NOT NULL DEFAULT ((0)),
	[CONTENT_PAYMENT] [nvarchar](255) NULL,
	[IS_CONFIRM] [bit] NULL DEFAULT ((0)),
	[DATE_PAYMENT] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[ID_PAYMENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PAYMENT_ODER]    Script Date: 6/6/2020 9:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PAYMENT_ODER](
	[ID_PAYMENT] [int] NOT NULL,
	[ID_ODER] [varchar](10) NOT NULL,
	[NOTE_PAYMENT_ODER] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PAYMENT] ASC,
	[ID_ODER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRODUCER_INFO]    Script Date: 6/6/2020 9:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCER_INFO](
	[ID_PRODUCER] [varchar](10) NOT NULL,
	[NAME_PRODUCER] [nvarchar](255) NOT NULL,
	[PHONE_PRODUCER] [varchar](15) NULL,
	[EMAIL_PRODUCER] [nvarchar](255) NOT NULL,
	[ADRESS_PRODUCER] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 6/6/2020 9:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[ID_PRODUCT] [varchar](10) NOT NULL,
	[NAME_PRODUCT] [nvarchar](255) NOT NULL,
	[ID_PRODUCER] [varchar](10) NOT NULL,
	[ID_TYPE_PRODUCT] [varchar](10) NOT NULL,
	[DESCRIBE_PRODUCT] [nvarchar](max) NOT NULL,
	[ID_ORIGIN] [varchar](10) NOT NULL,
	[PRICE_PRODUCT] [int] NOT NULL,
	[RATING_PRODUCT] [int] NULL DEFAULT ((5)),
	[NOTE_PRODUCT] [nvarchar](255) NULL,
	[ID_INFO] [varchar](10) NOT NULL,
	[DATE_PRODUCT] [date] NULL,
	[USER_ACC] [varchar](30) NULL DEFAULT ('admin'),
	[IS_SELL] [bit] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRODUCT_ATT]    Script Date: 6/6/2020 9:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCT_ATT](
	[ID_PRODUCT] [varchar](10) NOT NULL,
	[KEY_ATT] [nvarchar](255) NOT NULL,
	[VALUE_ATT] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCT] ASC,
	[KEY_ATT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRODUCT_IMAGE]    Script Date: 6/6/2020 9:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCT_IMAGE](
	[ID_PRODUCT] [varchar](10) NOT NULL,
	[IMAGE_PATH] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IMAGE_PATH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TYPE_ACCOUNT]    Script Date: 6/6/2020 9:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TYPE_ACCOUNT](
	[ID_TYPE_ACC] [varchar](10) NOT NULL,
	[NAME_TYPE_ACC] [nvarchar](255) NULL,
	[IS_USE_TYPE_ACC] [bit] NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[ID_TYPE_ACC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TYPE_NOTIFICATION]    Script Date: 6/6/2020 9:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TYPE_NOTIFICATION](
	[ID_TYPE_NOTI] [int] NOT NULL,
	[NAME_TYPE_NOTI] [nvarchar](255) NULL,
	[IMAGE_TYPE_NOTI] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TYPE_NOTI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TYPE_ODER]    Script Date: 6/6/2020 9:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TYPE_ODER](
	[ID_TYPE_ODER] [varchar](10) NOT NULL,
	[NAME_ODER] [nvarchar](255) NOT NULL,
	[NOTE_ODER] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TYPE_ODER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TYPE_ODER_ACC_PRODUCT]    Script Date: 6/6/2020 9:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TYPE_ODER_ACC_PRODUCT](
	[ID_ACC_PRODUCT] [varchar](10) NOT NULL,
	[ID_TYPE_ODER] [varchar](10) NOT NULL,
	[NOTE] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ACC_PRODUCT] ASC,
	[ID_TYPE_ODER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TYPE_PRODUCT]    Script Date: 6/6/2020 9:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TYPE_PRODUCT](
	[ID_TYPE_PRODUCT] [varchar](10) NOT NULL,
	[NAME_TYPE_PRODUCT] [nvarchar](255) NOT NULL,
	[NOTE_TYPE_PRODUCT] [nvarchar](255) NULL,
	[IS_ACTIVE] [bit] NULL DEFAULT ((1)),
	[ID_GR_TYPE_PR] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TYPE_PRODUCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USES_WAIT]    Script Date: 6/6/2020 9:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USES_WAIT](
	[ID_USER_WAIT] [int] IDENTITY(1,1) NOT NULL,
	[USER_ACC] [varchar](30) NOT NULL,
	[USER_ACC_WANT] [varchar](30) NOT NULL,
	[DATE_WANT] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USER_WAIT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VOCHER]    Script Date: 6/6/2020 9:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VOCHER](
	[ID_VOCHER] [varchar](10) NOT NULL,
	[CONENT_VOCHER] [nvarchar](255) NULL,
	[PERCENT_VOCHER] [int] NOT NULL DEFAULT ((0)),
	[MONEY_VOCHER] [int] NOT NULL DEFAULT ((0)),
	[MAX_SUM_PRICE] [int] NULL DEFAULT ((0)),
	[DATE_START_VOCHER] [date] NOT NULL,
	[DATE_END_VOCHER] [date] NULL,
	[IS_STATUS] [bit] NOT NULL DEFAULT ((1)),
	[AMOUNT_VOCHER] [int] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[ID_VOCHER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VOCHER_AREA]    Script Date: 6/6/2020 9:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VOCHER_AREA](
	[ID_VOCHER] [varchar](10) NOT NULL,
	[ID_PRODUCT] [varchar](10) NULL,
	[ID_ACC_PRODUCT] [varchar](10) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WAIT_PRODUCT]    Script Date: 6/6/2020 9:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WAIT_PRODUCT](
	[ID_WAIT_PRODUCT] [int] IDENTITY(1,1) NOT NULL,
	[NAME_PRODUCT] [nvarchar](255) NOT NULL,
	[ID_PRODUCER] [varchar](10) NOT NULL,
	[ID_TYPE_PRODUCT] [varchar](10) NOT NULL,
	[DESCRIBE_PRODUCT] [nvarchar](max) NOT NULL,
	[ID_ORIGIN] [varchar](10) NOT NULL,
	[PRICE_PRODUCT] [int] NOT NULL,
	[RATING_PRODUCT] [int] NULL DEFAULT ((5)),
	[NOTE_PRODUCT] [nvarchar](255) NULL,
	[IMAGE_PRODUCT] [nvarchar](255) NULL,
	[ID_INFO] [varchar](10) NOT NULL,
	[DATE_PRODUCT] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_WAIT_PRODUCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WATCHED_PRODUCT]    Script Date: 6/6/2020 9:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WATCHED_PRODUCT](
	[USER_ACC] [varchar](30) NOT NULL,
	[ID_ACC_PRODUCT] [varchar](10) NOT NULL,
	[CART_COUNT] [int] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[USER_ACC] ASC,
	[ID_ACC_PRODUCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ACC_PRODUCT] ([ID_ACC_PRODUCT], [USER_ACC], [ID_PRODUCT], [AMOUNT], [SALE_PERCENT], [SALE_MONEY], [DATE_START_SELL], [DATE_END_SELL], [TOTAL_COUNT], [SELL_COUNT], [IS_SELL]) VALUES (N'PG_001', N'banhang', N'PG001', 100000, 1, 0, CAST(N'2020-04-25' AS Date), NULL, 10, 9, 1)
INSERT [dbo].[ACC_PRODUCT] ([ID_ACC_PRODUCT], [USER_ACC], [ID_PRODUCT], [AMOUNT], [SALE_PERCENT], [SALE_MONEY], [DATE_START_SELL], [DATE_END_SELL], [TOTAL_COUNT], [SELL_COUNT], [IS_SELL]) VALUES (N'PG_002', N'banhang', N'PH001', 100000, 50, 0, CAST(N'2020-04-25' AS Date), NULL, 10, 7, 1)
INSERT [dbo].[ACC_PRODUCT] ([ID_ACC_PRODUCT], [USER_ACC], [ID_PRODUCT], [AMOUNT], [SALE_PERCENT], [SALE_MONEY], [DATE_START_SELL], [DATE_END_SELL], [TOTAL_COUNT], [SELL_COUNT], [IS_SELL]) VALUES (N'PG_003', N'banhang', N'PG002', 100000, 10, 0, CAST(N'2020-04-25' AS Date), NULL, 10, 6, 1)
INSERT [dbo].[ACCOUNT] ([USER_ACC], [PASSWORD_ACC], [EMAIL_INFO], [ID_TYPE_ACC], [COINT_ACC], [DATE_CREATE_ACC], [IS_ACTIVE_ACC]) VALUES (N'admin', N'admin', N'admin@maladin.com', N'admin', 10000000, CAST(N'2020-01-01' AS Date), 0)
INSERT [dbo].[ACCOUNT] ([USER_ACC], [PASSWORD_ACC], [EMAIL_INFO], [ID_TYPE_ACC], [COINT_ACC], [DATE_CREATE_ACC], [IS_ACTIVE_ACC]) VALUES (N'admin123', N'12345', N'vuquangtuyensk@gmail.com', N'CT', 36875124, CAST(N'2020-05-01' AS Date), 1)
INSERT [dbo].[ACCOUNT] ([USER_ACC], [PASSWORD_ACC], [EMAIL_INFO], [ID_TYPE_ACC], [COINT_ACC], [DATE_CREATE_ACC], [IS_ACTIVE_ACC]) VALUES (N'admin2345', N'1234', N'vuquangtuyenskaaa@gmail.com', N'CT', 0, CAST(N'2020-05-01' AS Date), 1)
INSERT [dbo].[ACCOUNT_COMMENT] ([USER_ACC], [ID_ACC_PRODUCT], [TITLE_COMMENT], [CONTEN_COMMENT], [RATING_COMMENT], [DATE_COMMENT], [IS_READ]) VALUES (N'banhang', N'PG_001', N'Sản phẩm oke đấy', N'Giá tốt cho 1 sao', 1, CAST(N'2020-05-28' AS Date), 0)
INSERT [dbo].[ACCOUNT_COMMENT] ([USER_ACC], [ID_ACC_PRODUCT], [TITLE_COMMENT], [CONTEN_COMMENT], [RATING_COMMENT], [DATE_COMMENT], [IS_READ]) VALUES (N'banhang', N'PG_003', N'Hàng này dùng được', N'Giá tốt', 3, CAST(N'2020-05-22' AS Date), 1)
INSERT [dbo].[ACCOUNT_COMMENT] ([USER_ACC], [ID_ACC_PRODUCT], [TITLE_COMMENT], [CONTEN_COMMENT], [RATING_COMMENT], [DATE_COMMENT], [IS_READ]) VALUES (N'banhang', N'PG_004', N'Hang gô', N'giá đk', 2, CAST(N'2020-05-25' AS Date), 0)
INSERT [dbo].[FAVORITE_PRODUCT] ([ID_ACC_PRODUCT], [USER_ACC]) VALUES (N'PG_001', N'admin123')
INSERT [dbo].[FAVORITE_PRODUCT] ([ID_ACC_PRODUCT], [USER_ACC]) VALUES (N'PG_002', N'admin123')
INSERT [dbo].[FAVORITE_PRODUCT] ([ID_ACC_PRODUCT], [USER_ACC]) VALUES (N'PG_003', N'admin123')
SET IDENTITY_INSERT [dbo].[GUEST_QUESTION] ON 

INSERT [dbo].[GUEST_QUESTION] ([ID_QUESTION], [ID_ACC_PRODUCT], [TITLE_QUESTION], [CONTENT_QUESTION], [DATE_QUESTION], [IS_READ]) VALUES (1, N'PG_001', N'Sản phẩm này có hỗ trợ COD không?', N'Hình thức thanh toán của sản phẩm này ntn vậy admin', CAST(N'2020-05-18' AS Date), 1)
INSERT [dbo].[GUEST_QUESTION] ([ID_QUESTION], [ID_ACC_PRODUCT], [TITLE_QUESTION], [CONTENT_QUESTION], [DATE_QUESTION], [IS_READ]) VALUES (2, N'PG_001', N'Sản phầm này mua kèm có được khuyến mại gì k', N'tôi nghe nói mua 2 tặng 1 mà chưa biết các bạn có áp dụng k', CAST(N'2020-05-28' AS Date), 0)
INSERT [dbo].[GUEST_QUESTION] ([ID_QUESTION], [ID_ACC_PRODUCT], [TITLE_QUESTION], [CONTENT_QUESTION], [DATE_QUESTION], [IS_READ]) VALUES (3, N'PG_001', N'Test nè', N'Được không à', CAST(N'2020-05-28' AS Date), 0)
SET IDENTITY_INSERT [dbo].[GUEST_QUESTION] OFF
INSERT [dbo].[INFOMATION_ACCOUNT] ([ID_INFO], [CMND_INFO], [NAME_INFO], [BIRTH_INFO], [SEX_INFO], [ADRESS_INFO], [PHONE_INFO], [NOTE_INFO], [USER_ACC], [AVT_ACC], [ID_TYPE_ACC]) VALUES (N'1', N'123456789', N'Vũ Quốc Hoàng Tuyền', CAST(N'1999-12-20' AS Date), 1, N'195 Đội Cấn Hà Nội', N'0123456789', N'', N'banhang', N'/public/image/avt/face15.jpg', N'CT')
INSERT [dbo].[INFOMATION_ACCOUNT] ([ID_INFO], [CMND_INFO], [NAME_INFO], [BIRTH_INFO], [SEX_INFO], [ADRESS_INFO], [PHONE_INFO], [NOTE_INFO], [USER_ACC], [AVT_ACC], [ID_TYPE_ACC]) VALUES (N'2', N'123456789', N'Shop Thời Trang Mới', CAST(N'1999-12-20' AS Date), 1, N'195 ĐC', N'0123456', NULL, N'banhang', N'/public/image/avt/avtdefult.png', N'CTV')
INSERT [dbo].[INFOMATION_ACCOUNT] ([ID_INFO], [CMND_INFO], [NAME_INFO], [BIRTH_INFO], [SEX_INFO], [ADRESS_INFO], [PHONE_INFO], [NOTE_INFO], [USER_ACC], [AVT_ACC], [ID_TYPE_ACC]) VALUES (N'3', N'123456789', N'Vu Quang Tuyền', CAST(N'2019-12-30' AS Date), 1, N'195 Đội Cấn, Hà Nội', N'0132344414', N'khong co gi', N'admin123', N'/public/image/avt/avtdefult.png', N'CT')
SET IDENTITY_INSERT [dbo].[MESSAGE_SEND_TO] ON 

INSERT [dbo].[MESSAGE_SEND_TO] ([ID_MESSAGE], [CONTEN_MESSAGE], [FROM_ACC], [TO_ACC], [IS_READ], [DATA_SEND_MESSAGE]) VALUES (1, N'Hello đm admin', N'banhang', N'admin', 1, CAST(N'2020-05-01 01:23:30.000' AS DateTime))
INSERT [dbo].[MESSAGE_SEND_TO] ([ID_MESSAGE], [CONTEN_MESSAGE], [FROM_ACC], [TO_ACC], [IS_READ], [DATA_SEND_MESSAGE]) VALUES (2, N'Tao khoa nick m', N'admin', N'banhang', 1, CAST(N'2020-05-01 01:23:30.000' AS DateTime))
INSERT [dbo].[MESSAGE_SEND_TO] ([ID_MESSAGE], [CONTEN_MESSAGE], [FROM_ACC], [TO_ACC], [IS_READ], [DATA_SEND_MESSAGE]) VALUES (3, N'Ok admin', N'banhang', N'admin', 1, CAST(N'2020-05-01 01:23:30.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[MESSAGE_SEND_TO] OFF
INSERT [dbo].[NOTI_ACC] ([USER_ACC], [ID_NOTI], [IS_CHECK_NOTI]) VALUES (N'admin', 18, 1)
INSERT [dbo].[NOTI_ACC] ([USER_ACC], [ID_NOTI], [IS_CHECK_NOTI]) VALUES (N'admin', 19, 1)
INSERT [dbo].[NOTI_ACC] ([USER_ACC], [ID_NOTI], [IS_CHECK_NOTI]) VALUES (N'admin', 20, 1)
INSERT [dbo].[NOTIFICATION_] ([ID_NOTI], [CONTENT_NOTI], [ID_TYPE_NOTI], [TITLE_NOTI], [DATE_NOTI]) VALUES (0, N'Tài khoản của bạn còn dưới 1k nạp đi', 1, N'Thông tài khoản sắp hết tiền', CAST(N'2020-05-01 01:23:30.000' AS DateTime))
INSERT [dbo].[NOTIFICATION_] ([ID_NOTI], [CONTENT_NOTI], [ID_TYPE_NOTI], [TITLE_NOTI], [DATE_NOTI]) VALUES (1, N'Tài khoản của bạn còn dưới 1k nạp đi', 1, N'Thông tài khoản sắp hết tiền', CAST(N'2020-05-01 01:23:30.000' AS DateTime))
INSERT [dbo].[NOTIFICATION_] ([ID_NOTI], [CONTENT_NOTI], [ID_TYPE_NOTI], [TITLE_NOTI], [DATE_NOTI]) VALUES (2, N'Tài khoản của bạn còn dưới 1k nạp đi', 1, N'Thông tài khoản sắp hết tiền', CAST(N'2020-05-01 01:23:30.000' AS DateTime))
INSERT [dbo].[ODER] ([ID_ODER], [USER_ACC], [ID_GUEST_NO_ACC], [ID_ACC_PRODUCT], [STATUS_ODER], [ID_TYPE_ODER], [COUNT_ODER], [ID_VOCHER], [SUM_PRICE_ODER], [DATE_COMPLATE_ODER], [NOTE_ODER], [DATE_ODER]) VALUES (N'oder1', N'banhang', NULL, N'pg005', 0, N'TK', 1, NULL, 20000, NULL, NULL, CAST(N'2020-05-01 00:00:00.000' AS DateTime))
INSERT [dbo].[ODER] ([ID_ODER], [USER_ACC], [ID_GUEST_NO_ACC], [ID_ACC_PRODUCT], [STATUS_ODER], [ID_TYPE_ODER], [COUNT_ODER], [ID_VOCHER], [SUM_PRICE_ODER], [DATE_COMPLATE_ODER], [NOTE_ODER], [DATE_ODER]) VALUES (N'ODPG01', N'anhtuyen', NULL, N'PG_001', 0, N'TK', 1, NULL, 100000, NULL, NULL, CAST(N'2020-05-01 00:00:00.000' AS DateTime))
INSERT [dbo].[ODER] ([ID_ODER], [USER_ACC], [ID_GUEST_NO_ACC], [ID_ACC_PRODUCT], [STATUS_ODER], [ID_TYPE_ODER], [COUNT_ODER], [ID_VOCHER], [SUM_PRICE_ODER], [DATE_COMPLATE_ODER], [NOTE_ODER], [DATE_ODER]) VALUES (N'PG_01', N'admin123', NULL, N'PG_003', -1, N'TT', 1, NULL, 100000, NULL, NULL, CAST(N'2020-05-19 17:04:53.553' AS DateTime))
INSERT [dbo].[ORIGIN] ([ID_ORIGIN], [NAME_ORIGIN], [NOTE_ORIGIN]) VALUES (N'FR', N'France', NULL)
INSERT [dbo].[ORIGIN] ([ID_ORIGIN], [NAME_ORIGIN], [NOTE_ORIGIN]) VALUES (N'TQ', N'Trung Quốc', NULL)
INSERT [dbo].[ORIGIN] ([ID_ORIGIN], [NAME_ORIGIN], [NOTE_ORIGIN]) VALUES (N'UK', N'United Kingdom', NULL)
SET IDENTITY_INSERT [dbo].[PAYMENT] ON 

INSERT [dbo].[PAYMENT] ([ID_PAYMENT], [USER_ACC], [SEND_COINT], [RECEIVE_COINT], [CONTENT_PAYMENT], [IS_CONFIRM], [DATE_PAYMENT]) VALUES (1, N'admin123', 0, 0, N'Thanh toán hóa đơn cho các đơn hàng:', 1, CAST(N'2020-05-21 12:27:17.810' AS DateTime))
INSERT [dbo].[PAYMENT] ([ID_PAYMENT], [USER_ACC], [SEND_COINT], [RECEIVE_COINT], [CONTENT_PAYMENT], [IS_CONFIRM], [DATE_PAYMENT]) VALUES (2, N'admin123', 0, 0, N'Thanh toán hóa đơn cho các đơn hàng:', 1, CAST(N'2020-05-21 12:28:45.597' AS DateTime))
INSERT [dbo].[PAYMENT] ([ID_PAYMENT], [USER_ACC], [SEND_COINT], [RECEIVE_COINT], [CONTENT_PAYMENT], [IS_CONFIRM], [DATE_PAYMENT]) VALUES (3, N'admin123', 0, 0, N'Thanh toán hóa đơn cho các đơn hàng:', 1, CAST(N'2020-05-21 12:29:07.183' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[PAYMENT] OFF
INSERT [dbo].[PAYMENT_ODER] ([ID_PAYMENT], [ID_ODER], [NOTE_PAYMENT_ODER]) VALUES (9, N'PG_PHTK9', N'Mã giao dịch thanh toán là:9')
INSERT [dbo].[PAYMENT_ODER] ([ID_PAYMENT], [ID_ODER], [NOTE_PAYMENT_ODER]) VALUES (11, N'PG_PHTK18', N'Mã giao dịch thanh toán là:11')
INSERT [dbo].[PAYMENT_ODER] ([ID_PAYMENT], [ID_ODER], [NOTE_PAYMENT_ODER]) VALUES (13, N'PG_PHTK19', N'Mã giao dịch thanh toán là:13')
INSERT [dbo].[PRODUCER_INFO] ([ID_PRODUCER], [NAME_PRODUCER], [PHONE_PRODUCER], [EMAIL_PRODUCER], [ADRESS_PRODUCER]) VALUES (N'PI001', N'Công Ty Sản Xuất Hàng Tiêu Dùng Văn Toàn', N'0968370509', N'tranvantoan@gmail.com', N'Số 3 đường Cầu Giấy, Đống Đa, Hà Nội')
INSERT [dbo].[PRODUCER_INFO] ([ID_PRODUCER], [NAME_PRODUCER], [PHONE_PRODUCER], [EMAIL_PRODUCER], [ADRESS_PRODUCER]) VALUES (N'PI002', N'Công Ty Sản Xuất Hàng Đồ May Mặc Duy Bùi', N'0968370508', N'buiquangduy@gmail.com', N'Số 99 đường Nguyễn Chí Thanh, Đống Đa, Hà Nội')
INSERT [dbo].[PRODUCER_INFO] ([ID_PRODUCER], [NAME_PRODUCER], [PHONE_PRODUCER], [EMAIL_PRODUCER], [ADRESS_PRODUCER]) VALUES (N'PI003', N'Công Ty Sản Xuất Phụ Kiện Quang Tuyền', N'0968370507', N'vuquangtuyen@gmail.com', N'Số 1B đường Đội Cấn, Ba Đình, Hà Nội')
INSERT [dbo].[PRODUCT] ([ID_PRODUCT], [NAME_PRODUCT], [ID_PRODUCER], [ID_TYPE_PRODUCT], [DESCRIBE_PRODUCT], [ID_ORIGIN], [PRICE_PRODUCT], [RATING_PRODUCT], [NOTE_PRODUCT], [ID_INFO], [DATE_PRODUCT], [USER_ACC], [IS_SELL]) VALUES (N'PG001', N'Kính Dân Chơi ', N'PI003', N'TP003', N'Kính này dùng được cho nhiều loại <strong>Sản Phẩm</strong> nhá', N'TQ', 19000, 2, N'', N'banhang', CAST(N'2020-01-01' AS Date), N'admin', 0)
INSERT [dbo].[PRODUCT] ([ID_PRODUCT], [NAME_PRODUCT], [ID_PRODUCER], [ID_TYPE_PRODUCT], [DESCRIBE_PRODUCT], [ID_ORIGIN], [PRICE_PRODUCT], [RATING_PRODUCT], [NOTE_PRODUCT], [ID_INFO], [DATE_PRODUCT], [USER_ACC], [IS_SELL]) VALUES (N'PG002', N'Kính Nam Xịn ', N'PI003', N'TP003', N'', N'FR', 129000, 3, N'', N'banhang', CAST(N'2020-01-01' AS Date), N'admin', 1)
INSERT [dbo].[PRODUCT] ([ID_PRODUCT], [NAME_PRODUCT], [ID_PRODUCER], [ID_TYPE_PRODUCT], [DESCRIBE_PRODUCT], [ID_ORIGIN], [PRICE_PRODUCT], [RATING_PRODUCT], [NOTE_PRODUCT], [ID_INFO], [DATE_PRODUCT], [USER_ACC], [IS_SELL]) VALUES (N'PG003', N'Kính Nam Chuẩn ', N'PI003', N'TP003', N'', N'FR', 329000, 5, N'', N'banhang', CAST(N'2020-01-01' AS Date), N'admin', 1)
INSERT [dbo].[PRODUCT_ATT] ([ID_PRODUCT], [KEY_ATT], [VALUE_ATT]) VALUES (N'PG001', N'Kích thước', N'20 Cm')
INSERT [dbo].[PRODUCT_ATT] ([ID_PRODUCT], [KEY_ATT], [VALUE_ATT]) VALUES (N'PG001', N'Xuất Xứ', N'Trung quốc')
INSERT [dbo].[PRODUCT_IMAGE] ([ID_PRODUCT], [IMAGE_PATH]) VALUES (N'PG001', N'/public/image/product/Glass/glass_product4.jpg')
INSERT [dbo].[PRODUCT_IMAGE] ([ID_PRODUCT], [IMAGE_PATH]) VALUES (N'PG001', N'\public\image\product\Glass\glass_product1.jpg')
INSERT [dbo].[PRODUCT_IMAGE] ([ID_PRODUCT], [IMAGE_PATH]) VALUES (N'PG002', N'\public\image\product\Glass\glass_product2.jpg')
INSERT [dbo].[TYPE_ACCOUNT] ([ID_TYPE_ACC], [NAME_TYPE_ACC], [IS_USE_TYPE_ACC]) VALUES (N'admin', N'tài khoản dành cho admin', 1)
INSERT [dbo].[TYPE_ACCOUNT] ([ID_TYPE_ACC], [NAME_TYPE_ACC], [IS_USE_TYPE_ACC]) VALUES (N'CT', N'Tài khoản này dành cho khách hàng', 1)
INSERT [dbo].[TYPE_ACCOUNT] ([ID_TYPE_ACC], [NAME_TYPE_ACC], [IS_USE_TYPE_ACC]) VALUES (N'CTV', N'Tài khoản này dành cho cộng tác viên', 1)
INSERT [dbo].[TYPE_NOTIFICATION] ([ID_TYPE_NOTI], [NAME_TYPE_NOTI], [IMAGE_TYPE_NOTI]) VALUES (1, N'Cảnh báo người dùng', N'1')
INSERT [dbo].[TYPE_NOTIFICATION] ([ID_TYPE_NOTI], [NAME_TYPE_NOTI], [IMAGE_TYPE_NOTI]) VALUES (2, N'Vocher cho người dùng', N'2')
INSERT [dbo].[TYPE_NOTIFICATION] ([ID_TYPE_NOTI], [NAME_TYPE_NOTI], [IMAGE_TYPE_NOTI]) VALUES (3, N'Thông báo liên quan đến tài khoản', N'3')
INSERT [dbo].[TYPE_ODER] ([ID_TYPE_ODER], [NAME_ODER], [NOTE_ODER]) VALUES (N'TK', N'Thanh toán cần dùng tài khoản', N'')
INSERT [dbo].[TYPE_ODER] ([ID_TYPE_ODER], [NAME_ODER], [NOTE_ODER]) VALUES (N'TT', N'Thanh toán trực tiếp không cần dùng tài khoản', N'')
INSERT [dbo].[TYPE_PRODUCT] ([ID_TYPE_PRODUCT], [NAME_TYPE_PRODUCT], [NOTE_TYPE_PRODUCT], [IS_ACTIVE], [ID_GR_TYPE_PR]) VALUES (N'TP001', N'Giày', N'', NULL, NULL)
INSERT [dbo].[TYPE_PRODUCT] ([ID_TYPE_PRODUCT], [NAME_TYPE_PRODUCT], [NOTE_TYPE_PRODUCT], [IS_ACTIVE], [ID_GR_TYPE_PR]) VALUES (N'TP002', N'Đồng hồ', N'', NULL, NULL)
INSERT [dbo].[TYPE_PRODUCT] ([ID_TYPE_PRODUCT], [NAME_TYPE_PRODUCT], [NOTE_TYPE_PRODUCT], [IS_ACTIVE], [ID_GR_TYPE_PR]) VALUES (N'TP003', N'Kính', N'', NULL, NULL)
INSERT [dbo].[VOCHER] ([ID_VOCHER], [CONENT_VOCHER], [PERCENT_VOCHER], [MONEY_VOCHER], [MAX_SUM_PRICE], [DATE_START_VOCHER], [DATE_END_VOCHER], [IS_STATUS], [AMOUNT_VOCHER]) VALUES (N'GIAM10', N'VOCHER GIẢM GIÁ', 10, 0, 5000, CAST(N'2020-05-01' AS Date), CAST(N'2020-06-30' AS Date), 1, 17)
INSERT [dbo].[VOCHER] ([ID_VOCHER], [CONENT_VOCHER], [PERCENT_VOCHER], [MONEY_VOCHER], [MAX_SUM_PRICE], [DATE_START_VOCHER], [DATE_END_VOCHER], [IS_STATUS], [AMOUNT_VOCHER]) VALUES (N'GIAM10KMU', N'Vocher này giảm 10k cho các sản phẩm là mũ', 20, 0, 10000, CAST(N'2020-05-20' AS Date), CAST(N'2020-05-30' AS Date), 1, 10)
INSERT [dbo].[VOCHER_AREA] ([ID_VOCHER], [ID_PRODUCT], [ID_ACC_PRODUCT]) VALUES (N'GIAM10', N'PG001', N'PG_001')
INSERT [dbo].[VOCHER_AREA] ([ID_VOCHER], [ID_PRODUCT], [ID_ACC_PRODUCT]) VALUES (N'GIAM10KMU', N'PG001', N'PG_001')
INSERT [dbo].[VOCHER_AREA] ([ID_VOCHER], [ID_PRODUCT], [ID_ACC_PRODUCT]) VALUES (N'GIAM10KMU', N'PH001', N'PG_002')
SET IDENTITY_INSERT [dbo].[WAIT_PRODUCT] ON 

INSERT [dbo].[WAIT_PRODUCT] ([ID_WAIT_PRODUCT], [NAME_PRODUCT], [ID_PRODUCER], [ID_TYPE_PRODUCT], [DESCRIBE_PRODUCT], [ID_ORIGIN], [PRICE_PRODUCT], [RATING_PRODUCT], [NOTE_PRODUCT], [IMAGE_PRODUCT], [ID_INFO], [DATE_PRODUCT]) VALUES (4, N'Sản phẩm test', N'PI001', N'TP003', N'Sản phẩm này test', N'FR', 12345400, 4, NULL, NULL, N'banhang', CAST(N'2020-05-25' AS Date))
SET IDENTITY_INSERT [dbo].[WAIT_PRODUCT] OFF
INSERT [dbo].[WATCHED_PRODUCT] ([USER_ACC], [ID_ACC_PRODUCT], [CART_COUNT]) VALUES (N'admin123', N'PG_001', 0)
INSERT [dbo].[WATCHED_PRODUCT] ([USER_ACC], [ID_ACC_PRODUCT], [CART_COUNT]) VALUES (N'admin123', N'PG_002', 0)
INSERT [dbo].[WATCHED_PRODUCT] ([USER_ACC], [ID_ACC_PRODUCT], [CART_COUNT]) VALUES (N'admin123', N'PG_003', 0)
ALTER TABLE [dbo].[GROUP_TYPE_PRODUCT] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[MEMBER_GROUP_CHAT] ADD  DEFAULT ((0)) FOR [IS_ADMIN_GROUP]
GO
ALTER TABLE [dbo].[ACC_PRODUCT]  WITH CHECK ADD FOREIGN KEY([ID_PRODUCT])
REFERENCES [dbo].[PRODUCT] ([ID_PRODUCT])
GO
ALTER TABLE [dbo].[ACC_PRODUCT]  WITH CHECK ADD FOREIGN KEY([USER_ACC])
REFERENCES [dbo].[ACCOUNT] ([USER_ACC])
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD FOREIGN KEY([ID_TYPE_ACC])
REFERENCES [dbo].[TYPE_ACCOUNT] ([ID_TYPE_ACC])
GO
ALTER TABLE [dbo].[ACCOUNT_COMMENT]  WITH CHECK ADD FOREIGN KEY([ID_ACC_PRODUCT])
REFERENCES [dbo].[ACC_PRODUCT] ([ID_ACC_PRODUCT])
GO
ALTER TABLE [dbo].[ACCOUNT_COMMENT]  WITH CHECK ADD FOREIGN KEY([USER_ACC])
REFERENCES [dbo].[ACCOUNT] ([USER_ACC])
GO
ALTER TABLE [dbo].[APPROVED_PRODUCT_WAIT]  WITH CHECK ADD FOREIGN KEY([ID_WAIT_PRODUCT])
REFERENCES [dbo].[WAIT_PRODUCT] ([ID_WAIT_PRODUCT])
GO
ALTER TABLE [dbo].[APPROVED_PRODUCT_WAIT]  WITH CHECK ADD FOREIGN KEY([USER_ACC])
REFERENCES [dbo].[ACCOUNT] ([USER_ACC])
GO
ALTER TABLE [dbo].[APPROVED_USER_WAIT]  WITH CHECK ADD FOREIGN KEY([ID_USER_WAIT])
REFERENCES [dbo].[USES_WAIT] ([ID_USER_WAIT])
GO
ALTER TABLE [dbo].[APPROVED_USER_WAIT]  WITH CHECK ADD FOREIGN KEY([USER_ACC])
REFERENCES [dbo].[ACCOUNT] ([USER_ACC])
GO
ALTER TABLE [dbo].[FAVORITE_PRODUCT]  WITH CHECK ADD FOREIGN KEY([ID_ACC_PRODUCT])
REFERENCES [dbo].[ACC_PRODUCT] ([ID_ACC_PRODUCT])
GO
ALTER TABLE [dbo].[FAVORITE_PRODUCT]  WITH CHECK ADD FOREIGN KEY([ID_ACC_PRODUCT])
REFERENCES [dbo].[ACC_PRODUCT] ([ID_ACC_PRODUCT])
GO
ALTER TABLE [dbo].[FAVORITE_PRODUCT]  WITH CHECK ADD FOREIGN KEY([USER_ACC])
REFERENCES [dbo].[ACCOUNT] ([USER_ACC])
GO
ALTER TABLE [dbo].[FAVORITE_PRODUCT]  WITH CHECK ADD FOREIGN KEY([USER_ACC])
REFERENCES [dbo].[ACCOUNT] ([USER_ACC])
GO
ALTER TABLE [dbo].[GUEST_QUESTION]  WITH CHECK ADD FOREIGN KEY([ID_ACC_PRODUCT])
REFERENCES [dbo].[ACC_PRODUCT] ([ID_ACC_PRODUCT])
GO
ALTER TABLE [dbo].[INFOMATION_ACCOUNT]  WITH CHECK ADD FOREIGN KEY([ID_TYPE_ACC])
REFERENCES [dbo].[TYPE_ACCOUNT] ([ID_TYPE_ACC])
GO
ALTER TABLE [dbo].[INFOMATION_ACCOUNT]  WITH CHECK ADD FOREIGN KEY([USER_ACC])
REFERENCES [dbo].[ACCOUNT] ([USER_ACC])
GO
ALTER TABLE [dbo].[MEMBER_GROUP_CHAT]  WITH CHECK ADD FOREIGN KEY([ID_GROUP])
REFERENCES [dbo].[GROUP_CHAT] ([ID_GROUP])
GO
ALTER TABLE [dbo].[MEMBER_GROUP_CHAT]  WITH CHECK ADD FOREIGN KEY([USER_ACC])
REFERENCES [dbo].[ACCOUNT] ([USER_ACC])
GO
ALTER TABLE [dbo].[MESSAGE_SEND_TO]  WITH CHECK ADD FOREIGN KEY([FROM_ACC])
REFERENCES [dbo].[ACCOUNT] ([USER_ACC])
GO
ALTER TABLE [dbo].[MESSAGE_SEND_TO]  WITH CHECK ADD FOREIGN KEY([TO_ACC])
REFERENCES [dbo].[ACCOUNT] ([USER_ACC])
GO
ALTER TABLE [dbo].[MESSAGE_SEND_TO_GR]  WITH CHECK ADD FOREIGN KEY([ID_GROUP])
REFERENCES [dbo].[GROUP_CHAT] ([ID_GROUP])
GO
ALTER TABLE [dbo].[MESSAGE_SEND_TO_GR]  WITH CHECK ADD FOREIGN KEY([USER_ACC])
REFERENCES [dbo].[ACCOUNT] ([USER_ACC])
GO
ALTER TABLE [dbo].[NOTI_ACC]  WITH CHECK ADD FOREIGN KEY([ID_NOTI])
REFERENCES [dbo].[NOTIFICATION_] ([ID_NOTI])
GO
ALTER TABLE [dbo].[NOTI_ACC]  WITH CHECK ADD FOREIGN KEY([USER_ACC])
REFERENCES [dbo].[ACCOUNT] ([USER_ACC])
GO
ALTER TABLE [dbo].[NOTIFICATION_]  WITH CHECK ADD FOREIGN KEY([ID_TYPE_NOTI])
REFERENCES [dbo].[TYPE_NOTIFICATION] ([ID_TYPE_NOTI])
GO
ALTER TABLE [dbo].[ODER]  WITH CHECK ADD FOREIGN KEY([ID_ACC_PRODUCT])
REFERENCES [dbo].[ACC_PRODUCT] ([ID_ACC_PRODUCT])
GO
ALTER TABLE [dbo].[ODER]  WITH CHECK ADD FOREIGN KEY([ID_GUEST_NO_ACC])
REFERENCES [dbo].[INFOMATION_GUEST] ([ID_GUEST])
GO
ALTER TABLE [dbo].[ODER]  WITH CHECK ADD FOREIGN KEY([ID_TYPE_ODER])
REFERENCES [dbo].[TYPE_ODER] ([ID_TYPE_ODER])
GO
ALTER TABLE [dbo].[ODER]  WITH CHECK ADD FOREIGN KEY([ID_VOCHER])
REFERENCES [dbo].[VOCHER] ([ID_VOCHER])
GO
ALTER TABLE [dbo].[ODER]  WITH CHECK ADD FOREIGN KEY([USER_ACC])
REFERENCES [dbo].[ACCOUNT] ([USER_ACC])
GO
ALTER TABLE [dbo].[PAYMENT]  WITH CHECK ADD FOREIGN KEY([USER_ACC])
REFERENCES [dbo].[ACCOUNT] ([USER_ACC])
GO
ALTER TABLE [dbo].[PAYMENT_ODER]  WITH CHECK ADD FOREIGN KEY([ID_ODER])
REFERENCES [dbo].[ODER] ([ID_ODER])
GO
ALTER TABLE [dbo].[PAYMENT_ODER]  WITH CHECK ADD FOREIGN KEY([ID_PAYMENT])
REFERENCES [dbo].[PAYMENT] ([ID_PAYMENT])
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD FOREIGN KEY([ID_ORIGIN])
REFERENCES [dbo].[ORIGIN] ([ID_ORIGIN])
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD FOREIGN KEY([ID_PRODUCER])
REFERENCES [dbo].[PRODUCER_INFO] ([ID_PRODUCER])
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD FOREIGN KEY([ID_TYPE_PRODUCT])
REFERENCES [dbo].[TYPE_PRODUCT] ([ID_TYPE_PRODUCT])
GO
ALTER TABLE [dbo].[PRODUCT_ATT]  WITH CHECK ADD FOREIGN KEY([ID_PRODUCT])
REFERENCES [dbo].[PRODUCT] ([ID_PRODUCT])
GO
ALTER TABLE [dbo].[PRODUCT_IMAGE]  WITH CHECK ADD FOREIGN KEY([ID_PRODUCT])
REFERENCES [dbo].[PRODUCT] ([ID_PRODUCT])
GO
ALTER TABLE [dbo].[TYPE_ODER_ACC_PRODUCT]  WITH CHECK ADD FOREIGN KEY([ID_ACC_PRODUCT])
REFERENCES [dbo].[ACC_PRODUCT] ([ID_ACC_PRODUCT])
GO
ALTER TABLE [dbo].[TYPE_ODER_ACC_PRODUCT]  WITH CHECK ADD FOREIGN KEY([ID_TYPE_ODER])
REFERENCES [dbo].[TYPE_ODER] ([ID_TYPE_ODER])
GO
ALTER TABLE [dbo].[TYPE_PRODUCT]  WITH CHECK ADD FOREIGN KEY([ID_GR_TYPE_PR])
REFERENCES [dbo].[GROUP_TYPE_PRODUCT] ([ID_GR_TYPE_PR])
GO
ALTER TABLE [dbo].[USES_WAIT]  WITH CHECK ADD FOREIGN KEY([USER_ACC])
REFERENCES [dbo].[ACCOUNT] ([USER_ACC])
GO
ALTER TABLE [dbo].[USES_WAIT]  WITH CHECK ADD FOREIGN KEY([USER_ACC_WANT])
REFERENCES [dbo].[ACCOUNT] ([USER_ACC])
GO
ALTER TABLE [dbo].[VOCHER_AREA]  WITH CHECK ADD FOREIGN KEY([ID_ACC_PRODUCT])
REFERENCES [dbo].[ACC_PRODUCT] ([ID_ACC_PRODUCT])
GO
ALTER TABLE [dbo].[VOCHER_AREA]  WITH CHECK ADD FOREIGN KEY([ID_PRODUCT])
REFERENCES [dbo].[PRODUCT] ([ID_PRODUCT])
GO
ALTER TABLE [dbo].[VOCHER_AREA]  WITH CHECK ADD FOREIGN KEY([ID_VOCHER])
REFERENCES [dbo].[VOCHER] ([ID_VOCHER])
GO
ALTER TABLE [dbo].[WAIT_PRODUCT]  WITH CHECK ADD FOREIGN KEY([ID_ORIGIN])
REFERENCES [dbo].[ORIGIN] ([ID_ORIGIN])
GO
ALTER TABLE [dbo].[WAIT_PRODUCT]  WITH CHECK ADD FOREIGN KEY([ID_PRODUCER])
REFERENCES [dbo].[PRODUCER_INFO] ([ID_PRODUCER])
GO
ALTER TABLE [dbo].[WAIT_PRODUCT]  WITH CHECK ADD FOREIGN KEY([ID_TYPE_PRODUCT])
REFERENCES [dbo].[TYPE_PRODUCT] ([ID_TYPE_PRODUCT])
GO
ALTER TABLE [dbo].[WATCHED_PRODUCT]  WITH CHECK ADD FOREIGN KEY([ID_ACC_PRODUCT])
REFERENCES [dbo].[ACC_PRODUCT] ([ID_ACC_PRODUCT])
GO
ALTER TABLE [dbo].[WATCHED_PRODUCT]  WITH CHECK ADD FOREIGN KEY([USER_ACC])
REFERENCES [dbo].[ACCOUNT] ([USER_ACC])
GO
ALTER TABLE [dbo].[ACC_PRODUCT]  WITH CHECK ADD CHECK  (([SELL_COUNT]>=(0)))
GO
ALTER TABLE [dbo].[ACC_PRODUCT]  WITH CHECK ADD CHECK  (([TOTAL_COUNT]>=(0)))
GO
ALTER TABLE [dbo].[ACCOUNT_COMMENT]  WITH CHECK ADD CHECK  (([RATING_COMMENT]>=(0) AND [RATING_COMMENT]<=(5)))
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD CHECK  (([RATING_PRODUCT]>=(0) AND [RATING_PRODUCT]<=(5)))
GO
ALTER TABLE [dbo].[WAIT_PRODUCT]  WITH CHECK ADD CHECK  (([RATING_PRODUCT]>=(0) AND [RATING_PRODUCT]<=(5)))
GO
USE [master]
GO
