<header id="header" class="nav-collapse">
    <div class="header-form-container">
        <div class="container">
            <a class="logo" href="@Url.Action("Index", "Home")">
                <img src="~/assets/image/logo.png" alt="Day la logo nhe hihi" style="height:40px"/>
            </a>
            <div class="form-search">
                <form id="search-form" method="get">
                    <div class="search-wrap">
                        <div class="input">
                            <div class="flex">
                                <input type="text" placeholder="Tìm kiếm sản phẩm mong muốn..." autocomplete="off">
                            </div>
                        </div>
                        <button type="submit">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <span>Tìm kiếm</span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="header-link">
                <a href="#" title="Kiểm tra trạng thái đơn hàng của bạn" class="tracking-order item">
                    <i class="fa fa-truck cart-icon" aria-hidden="true"></i>
                    <span> Theo dõi <br />đơn hàng</span>
                </a>
                <div class="noti-item tracking-noti item" id="header-noti">
                    <div>
                        <i class="fa fa-bell cart-icon" aria-hidden="true"></i>
                        <span>Thông báo <br />của tôi</span>
                    </div>
                </div>
                <div class="user-profile item" id="header-user">
                    <div>
                        <!--
                            <div>
                            <i class="fa fa-user cart-icon" aria-hidden="true"></i>
                            <span>Đăng nhập <br />tài khoản</span>
                        </div>
                         -->
                        <div>
                            <a rel="nofollow" href="@Url.Action("WishList", "User")">
                                <i class="fa fa-user cart-icon" aria-hidden="true"></i>
                                <span>Đăng nhập <br />tài khoản</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="header-cart">
                    <a rel="nofollow" href="@Url.Action("ShoppingCart", "Home")" class="header-cart item">
                        <i class="fa fa-shopping-cart cart-icon" aria-hidden="true"></i>
                        <span class="cart-text">Giỏ hàng </span>
                        <span class="badge badge-primary" style="background-color: #fcdf03; color: black;">0</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="main-nav">
        <div class="container">
            <nav class="main-nav-wrap">
                <a href="javascript:" class="nav-main-toggle">
                    <i class="fa fa-bars cart-icon" aria-hidden="true"></i>
                    <span class="long">DANH MỤC SẢN PHẨM</span>
                </a>
                <ul>
                    
                </ul>
            </nav>
        </div>
    </div>
</header>