@{
    ViewBag.Title = "Home Page";
}

    <a class="lndPa" style="width: 248px; height: 365px;">
        <div class="item-picture">
            <img src="~/assets/image/product.png" class="img-detail-mini" style="width: auto; height: 100%; opacity: 1;" />
        </div>
        <p class="item-title" style="height: 40px">
            Ghế Aerocool Gaming Chair Iron (Đen) - Hàng chính hãng
        </p>
        <p class="item-price">
            19.490.000 ₫
            <span class="percent">-16%</span>
            <span class="original">22.990.000 ₫</span>
        </p>
        <div class="gray-badge">
            <div>
                <span class="gray-badge__item">Trả góp 0%</span>
            </div>
        </div>
    </a>