
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Partner/Views/Shared/_layout_partner.cshtml";
}
<div>

</div>
<script>
    
    $('#avt-profile').attr("src", "");
    $('#name-user-profile').text();
</script>
