
@{
    
    Layout = Request.IsAjaxRequest() ? null : "~/Areas/Partner/Views/Shared/_layout_partner.cshtml";
}
@model Maladin.Areas.Partner.Models.HomeModels
@section Scripts{
    <script>
        @if(Model.iNFOMATION.AVT_ACC==null)
        {
            
        }
        else
        {
            @:$('#avt-profile').attr("src",'@Model.iNFOMATION.AVT_ACC');
            @:$('#name-user-profile').text('@Model.iNFOMATION.NAME_INFO');
            
        }
    </script>
}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body dashboard-tabs p-0">
                <div class="tab-pane fade active show" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                    <div class="d-flex flex-wrap justify-content-xl-between">

                        <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                            <i class="mdi mdi-currency-usd mr-3 icon-lg text-danger"></i>
                            <div class="d-flex flex-column justify-content-around">
                                <small class="mb-1 text-muted">Maladin Coint Mới Nhận</small>
                                <h5 class="mr-2 mb-0">$1</h5>
                            </div>
                        </div>
                        <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                            <i class="mdi mdi-eye mr-3 icon-lg text-success"></i>
                            <div class="d-flex flex-column justify-content-around">
                                <small class="mb-1 text-muted">Lượt xem sản phẩm mới</small>
                                <h5 class="mr-2 mb-0">1</h5>
                            </div>
                        </div>
                        <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                            <i class="mdi mdi-download mr-3 icon-lg text-warning"></i>
                            <div class="d-flex flex-column justify-content-around">
                                <small class="mb-1 text-muted">Hóa đơn mới</small>
                                <h5 class="mr-2 mb-0">1</h5>
                            </div>
                        </div>
                        <div class="d-flex py-3 border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                            <i class="mdi mdi-flag mr-3 icon-lg text-danger"></i>
                            <div class="d-flex flex-column justify-content-around">
                                <small class="mb-1 text-muted">Số bình luận mới</small>
                                <h5 class="mr-2 mb-0">1</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Biểu đồ doanh thu -->
    <div class="row">
        <!--Biểu đồ coint-->
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                    <h4 class="card-title">Biểu đồ Biến động coint</h4>
                    <canvas id="lineChart" width="837" height="418" class="chartjs-render-monitor" style="display: block; height: 335px; width: 670px;"></canvas>
                </div>
            </div>
        </div>
        <!--Biều đồ lượt xem-->
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                    <h4 class="card-title">Biểu đồ lượt xem trong 3 tháng gần nhất</h4>
                    <canvas id="areaChart" width="837" height="418" class="chartjs-render-monitor" style="display: block; height: 335px; width: 670px;"></canvas>
                </div>
            </div>
        </div>
    </div>
    <!-- Phần danh sách comment mới-->
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Danh Sách Bình Luận/Hỏi đáp Mới</h4>
                
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    ID sản phẩm
                                </th>
                                <th>
                                    Tên Sản phẩm
                                </th>
                                <th>
                                    Nội dung
                                </th>
                                <th>
                                    Loại Bình Luận
                                </th>
                                <th>
                                    Ngày Bình Luận
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="py-1">
                                    <img src="../../images/faces/face1.jpg" alt="image">
                                </td>
                                <td>
                                    Herman Beck
                                </td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                                <td>
                                    $ 77.99
                                </td>
                                <td>
                                    May 15, 2015
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

