
@{
    ViewBag.Title = "WishList";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<h1 class="have-margin">Danh sách yêu thích</h1>
<!--start div if have wishlist-->
<div class="account-wish-list list-item" id="haveWishList">
    <form id="wishlist" method="post">
        @for (int i = 1; i <= 2; i++)
         {
            <div class="item wishlist-item" id="@i">
                <div class="item-col-1">
                    <p class="image">
                        <a href="#">
                            <img class="img-responsive" src="~/assets/image/product.png" style="width: 130px; height: 182px" />
                        </a>
                    </p>
                </div>
                <div class="item-col-2">
                    <div class="information">
                        <p class="title">
                            <a href="#">
                                GHẾ AEROCOOL GAMING CHAIR EARL Iron (Đen) - Hàng Chính Hãng
                            </a>
                        </p>
                        <div class="desciption">
                            <p>Đây là mô tả của sản phẩm Đây là mô tả của sản phẩm Đây là mô tả của sản phẩm Đây là mô tả của sản phẩm</p>
                        </div>
                    </div>
                </div>
                <div class="item-col-3">
                    <p class="price-sale">
                        4.500.000đ
                        <br />
                        <span>600.000đ</span>
                        <span class="sale-tag">
                            -17%
                        </span>
                    </p>
                    <button class="btn btn-default btn-custom1 delete-wishlist-item" type="button" onclick="removeEmelent(@i)">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </div>   
         }
    </form>
</div>
<!--end div if have wishlist-->
<!--start div if not have wishlist-->
<div class="empty-content" id="noWishList">
    <img src="~/assets/image/Baymax-NoContent.png" alt="" style="height: 230px;" />
    <p>Hãy <i class="fa fa-heart" aria-hidden="true"></i> sản phẩm bạn yêu thích để xem lại thuận tiện nhất</p>
    <a href="@Url.Action("Index", "Home")" class="btn-blue">Tiếp tục mua sắm</a>
</div>
<!--end div if not have wishlist-->

@section scripts {
    <script>
        $(document).ready(function () {
            checkNullValue();
        });

        function removeEmelent(i) {
            var r = confirm("Bạn có thực sự muốn xóa?");
            if (r == true) {
                $('#' + i).remove();
                window.location.reload();   //luu vao DB xoa di phan tu yeu thich sau do load lai trang
            } else {

            }
        }

        function checkNullValue() {
            if ($("#haveWishList:has(*)").length) {
                $("#noWishList").hide();
            } else {
                $("#noWishList").show();
            }
        }
    </script>
}