
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    @Styles.Render("~/Areas/Admin/allcss")
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
</head>
<body>
    <div class="page login-page">
        <div class="container">
            <div class="form-outer text-center d-flex align-items-center">
                <div class="form-inner">
                    <div class="logo text-uppercase"><span>Chào mừng bạn đến với </span><strong class="text-primary">Maladin.com</strong></div>
                    <p>Đăng nhập ngay để thỏa sức mua sắn với hàng ngàn sản phẩm nổi bật mà bạn sẽ thích</p>
                    @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                    {
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="text-left form-validate">
                            <div class="form-group-material">


                                


                            </div>
                            <div class="form-group-material">
                                


                            </div>
                            <div class="form-group terms-conditions text-center">
                                
                            </div>
                            <div class="form-group text-center">
                                <input id="submitLogin" type="submit" value="Login" class="btn btn-primary">

                                <!-- This should be submit button but I replaced it with <a> for demo purposes-->
                            </div>
                        </div>

                    }


                </div>

            </div>
        </div>
    </div>
    @Scripts.Render("~/Areas/Admin/loginjs")
</body>
</html>
