@{
    ViewBag.Title = "Dữ liệu Sản Phẩm của hệ thống";
    Layout = "~/Areas/Admin/Views/Shared/_layout_admin.cshtml";
}
<title>@ViewBag.Title</title>
@section Scripts{

}
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Danh sách toàn bộ sản phẩm</h4>
                <div class="row">
                    <div class="col-lg-6 grid-margin stretch-card">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="search">
                                    <i class="mdi mdi-account-search"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="search" aria-label="search" aria-describedby="search">
                            <button type="button" class="btn btn-primary btn-icon-text">
                                <i class="mdi mdi-magnify"></i>
                                Submit
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-6 grid-margin stretch-card">
                        <form class="form-inline">
                            <label class="col-form-label" style="margin-right:20px;">Tùy chọn hiển thị:</label>
                            <select class="form-control" style="margin-right:20px;">
                                <option>Category1</option>
                                <option>Category2</option>
                                <option>Category3</option>
                                <option>Category4</option>
                            </select>
                            <button type="button" class="btn btn-primary mb-2">Áp dụng</button>
                        </form>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Mã Sản Phẩm</th>
                                <th>Tên Sản Phẩm</th>
                                <th>Nhà sản xuất</th>
                                <th>Loại Hàng</th>
                                <th>Quốc Gia</th>
                                <th>Rating</th>
                                <th>Ngày Nhập</th>
                                <th>Giá</th>
                                <th>Trạng Thái</th>
                                <th>Hành Động</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <p>MI001</p>
                                </td>
                                <td>
                                    Điều Hòa Dakin
                                </td>
                                <td>
                                    Công ty Điện lạnh VT
                                </td>
                                <td>
                                    Điều hòa
                                </td>
                                <td>
                                    Nhật Bản
                                </td>
                                <td>
                                    <span class="mdi mdi-star"></span>
                                    <span class="mdi mdi-star"></span>
                                    <span class="mdi mdi-star"></span>
                                </td>
                                <td>
                                    May 15, 2020
                                </td>
                                <td>
                                    9999000
                                </td>
                                <td>
                                    <label class="badge badge-info">Bán</label>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-secondary btn-rounded btn-icon">
                                        <i class="mdi mdi-plus text-primary"></i>
                                    </button>
                                    <button type="button" class="btn btn-outline-secondary btn-rounded btn-icon">
                                        <i class="mdi mdi-border-color text-primary"></i>
                                    </button>
                                    <button type="button" class="btn btn-outline-secondary btn-rounded btn-icon">
                                        <i class="mdi mdi-delete text-primary"></i>
                                    </button>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

