
@{
    
    Layout = "~/Areas/Admin/Views/Shared/_layout_admin.cshtml";
}
@section Scripts{

}
    <div>
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                <h4 class="card-title">Sales Difference</h4>
                                <canvas id="salesDifference" width="360" height="180" class="chartjs-render-monitor" style="display: block; height: 144px; width: 288px;"></canvas>
                                <p class="mt-3 mb-4 mb-lg-0">
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit.
                                </p>
                            </div>
                            <div class="col-lg-5">
                                <h4 class="card-title">Best Sellers</h4>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <ul class="graphl-legend-rectangle">
                                            <li><span class="bg-danger"></span>Automotive</li>
                                            <li><span class="bg-warning"></span>Books</li>
                                            <li><span class="bg-info"></span>Software</li>
                                            <li><span class="bg-success"></span>Video games</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-8 grid-margin">
                                        <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                        <canvas id="bestSellers" width="293" height="146" class="chartjs-render-monitor" style="display: block; height: 117px; width: 235px;"></canvas>
                                    </div>
                                </div>
                                <p class="mt-3 mb-4 mb-lg-0">
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit.
                                </p>
                            </div>
                            <div class="col-lg-3">
                                <h4 class="card-title">Social Media Statistics</h4>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="progress progress-lg grouped mb-2">
                                            <div class="progress-bar  bg-danger" role="progressbar" style="width: 40%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            <div class="progress-bar bg-info" role="progressbar" style="width: 10%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            <div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <ul class="graphl-legend-rectangle">
                                            <li><span class="bg-danger"></span>Instagram (15%)</li>
                                            <li><span class="bg-warning"></span>Facebook (20%)</li>
                                            <li><span class="bg-info"></span>Website (25%)</li>
                                            <li><span class="bg-success"></span>Youtube (40%)</li>
                                        </ul>
                                    </div>
                                </div>
                                <p class="mb-0 mt-2">
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 grid-margin stretch-card">
                <div class="card">
                    <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                    <div class="card-body pb-0">
                        <div class="d-flex align-items-center justify-content-between">
                            <h2 class="text-success font-weight-bold">18390</h2>
                            <i class="mdi mdi-account-outline mdi-18px text-dark"></i>
                        </div>
                    </div>
                    <canvas id="newClient" width="278" height="138" class="chartjs-render-monitor" style="display: block; height: 111px; width: 223px;"></canvas>
                    <div class="line-chart-row-title">MY NEW CLIENTS</div>
                </div>
            </div>
            <div class="col-lg-2 grid-margin stretch-card">
                <div class="card">
                    <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                    <div class="card-body pb-0">
                        <div class="d-flex align-items-center justify-content-between">
                            <h2 class="text-danger font-weight-bold">839</h2>
                            <i class="mdi mdi-refresh mdi-18px text-dark"></i>
                        </div>
                    </div>
                    <canvas id="allProducts" width="278" height="138" class="chartjs-render-monitor" style="display: block; height: 111px; width: 223px;"></canvas>
                    <div class="line-chart-row-title">All Products</div>
                </div>
            </div>
            <div class="col-lg-2 grid-margin stretch-card">
                <div class="card">
                    <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                    <div class="card-body pb-0">
                        <div class="d-flex align-items-center justify-content-between">
                            <h2 class="text-info font-weight-bold">244</h2>
                            <i class="mdi mdi-file-document-outline mdi-18px text-dark"></i>
                        </div>
                    </div>
                    <canvas id="invoices" width="278" height="138" class="chartjs-render-monitor" style="display: block; height: 111px; width: 223px;"></canvas>
                    <div class="line-chart-row-title">NEW INVOICES</div>
                </div>
            </div>
            <div class="col-lg-2 grid-margin stretch-card">
                <div class="card">
                    <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                    <div class="card-body pb-0">
                        <div class="d-flex align-items-center justify-content-between">
                            <h2 class="text-warning font-weight-bold">3259</h2>
                            <i class="mdi mdi-folder-outline mdi-18px text-dark"></i>
                        </div>
                    </div>
                    <canvas id="projects" width="278" height="138" class="chartjs-render-monitor" style="display: block; height: 111px; width: 223px;"></canvas>
                    <div class="line-chart-row-title">All PROJECTS</div>
                </div>
            </div>
            <div class="col-lg-2 grid-margin stretch-card">
                <div class="card">
                    <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                    <div class="card-body pb-0">
                        <div class="d-flex align-items-center justify-content-between">
                            <h2 class="text-secondary font-weight-bold">586</h2>
                            <i class="mdi mdi-cart-outline mdi-18px text-dark"></i>
                        </div>
                    </div>
                    <canvas id="orderRecieved" width="278" height="138" class="chartjs-render-monitor" style="display: block; height: 111px; width: 223px;"></canvas>
                    <div class="line-chart-row-title">Orders Received</div>
                </div>
            </div>
            <div class="col-lg-2 grid-margin stretch-card">
                <div class="card">
                    <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                    <div class="card-body pb-0">
                        <div class="d-flex align-items-center justify-content-between">
                            <h2 class="text-dark font-weight-bold">7826</h2>
                            <i class="mdi mdi-cash text-dark mdi-18px"></i>
                        </div>
                    </div>
                    <canvas id="transactions" width="278" height="138" class="chartjs-render-monitor" style="display: block; height: 111px; width: 223px;"></canvas>
                    <div class="line-chart-row-title">TRANSACTIONS</div>
                </div>
            </div>
        </div>
    </div>
